body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #ff6347;
  text-align: center;
  margin-top: 50px;
}

.main-content {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  margin: 50px auto;
}

.text-container {
  padding: 2%;
}

.text-p {
  line-height: 2.5;
}